.avatar-container {
  cursor: pointer;
  margin-right: 16px;
}

.list-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.list-item-content {
  flex: 1;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  align-items: center;
}

.p {
  flex: 1;
  margin: 0;
}

.container {
  width: 100%;
  overflow: hidden;
  margin-top: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.box {
  width: 100%;
}

.dialog-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.delete-button-container {
  margin-left: auto;
}

.fridges-select {
  width: 100%;
  margin-top: 14px;
}

.button {
  margin-top: 14px;
}
