.filter-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  user-select: none;
}

.custom-select {
  width: 300px;
}

.products-container {
  position: absolute;
  top: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-left: 7%;
}

.image-service-fridge {
  position: fixed;
  top: 99%;
  transform: translateY(-100%);
  right: 1%;
  width: 40px;
  height: 40px;
}

.newProduct {
  position: fixed;
  top: 99%;
  transform: translateY(-100%);
}

.average {
  position: absolute;
  top: 29%;
  margin-left: 5%;
}

.products {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-open-fridge {
  position: absolute;
  top: 16%;
  margin-left: 5%;
  width: 85px;
  height: 85px;
}

.fridge-state-message {
  position: absolute;
  top: 10%;
  margin-left: 5%;
  width: 60%;
}

.product-card-section {
  position: absolute;
  top: 36%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.open-fridge-button {
  position: absolute;
  right: 8px;
  top: 8px;
}
